
<div>
    <app-header></app-header>
</div>
     <div class="login-container">
        <div class="login-box">
        <h2 class="title">Customer Application</h2>
        <div class="form-box">
        <h3>LOGIN</h3>
        <div *ngIf="errorMessage" class="alert alert-danger text-center">
                {{ errorMessage }}
            </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <input type="email" formControlName="email" placeholder="Email or UserName" />
         
             
        <input type="password" formControlName="password" placeholder="password min 8 char" />
         
                <button type="submit" [disabled]="!loginForm.valid">LOG IN</button>
        </form>
        </div>
        </div>
        </div>